{% extends "HeadFoot.html" %}
{% load static %}
{% block myblock %}
    <style>
       /* .bg
        {
          background: url("{% static 'images/ContactUsImgs/ConUs.jpg' %}");background-size: cover; */

        /* }  */ 
        .ht
        {
        height:100px;
        }
        .hg{
          background: url("{% static 'images/ContactUsImgs/ContactImage.jpg' %}");
          background-size: cover;text-align: center;
        }
        cd{
          background-color:rgba(166, 167, 170, 0.027);
        }
    </style>


<div class="container-fluid">
<div class="row bg text-center font-weight-bold text-white;">
<div class="col-md-12 p-5" style="background:rgba(0,125,255,0.4);">
<h1 style="font-size: 60px;" class="font-weight-bold">Contact Us</h1>
<p style="font-size: 30px;"><a href="{% url 'HomePage' %}" class="text-white">Home &gt;</a> <a href="" class="text-white">Contact &gt;</a></p>
     </div>
  </div>
</div>
<div class="container-fluid hg ">
  <div class="row mx-auto">
    
    <div class="col-md-12 cd p-5">
      <h1 style="color: white;text-align: center;font-size: 50px;">CONTACT HERE</h1>
      <form action="" method="post" class="p-4">
        {% csrf_token %}
        <div class="form-group" >
          <input type="text " placeholder="Enter Name...." name="name" style="width:50%">
        </div>
        <div class="form-group">
          <input type="email " placeholder="Enter Email...." name="email" style="width:50%">
        </div>
        <div class="form-group">
          <input type="number" placeholder="Enter Your Contact Number...." name="contact" style="width:50%">
        </div>
        <div class="form-group">
          <input type="text " placeholder="Enter Address...." name="address" style="width:50%">
        </div>
        <div class="form-group">
          <input type="text " placeholder="Subject...." name="subject" style="width:50%">
        </div>
        <div class="form-group">
          <input type="text " placeholder="Message...." name="message" style="width:50%">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary rounded-pill" value="Send Message"  style="width:50%">
        </div>

      </form>
    </div>
    </div>
  </div>

<div class="container-fluid">
  <div class="row px-0 mt-2">
    <div class="col-md-12 px-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.056283563223!2d76.69247711471061!3d30.716818081642636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5a42944be3%3A0xb713d3a3e26a89c1!2sSachTech%20Solution%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1580985121539!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
       </div>
</div>
  
  <div class="row">
    <div class="col-md-12  text-muted ">
     <p style="font-size: 40px; margin-left: 30px;color:green" class="font-weight-bold">Contact Information:</p>
    </div>
    <div class="col-md-3">
        <div class="bg-light ht p-3">
        <i class="fas fa-home text-dark" style="text-align:center;font-size:35px"></i><br/>
        Address: 198 West 21th Street
    </div>
    </div>
    <div class="col-md-3">
    <div class="bg-light ht p-3">
    <i class="fas fa-phone text-dark" style="text-align:center;font-size:35px"></i><br/>
    Phone: + 1235 2355 98
    </div>
    </div>
    <div class="col-md-3">
    <div class="bg-light ht p-3">
    <i class="fas fa-envelope text-dark" style="text-align:center;font-size:35px"></i><br/>
    Email: info@yoursite.com 
    </div>
    </div>
<div class="col-md-3">
  <div class="bg-light ht p-3">
     <i class="fas fa-share text-dark" style="text-align:center;font-size:35px"></i><br/>
            Website yoursite.com
  </div>
    </div> 
</div> 
<div class="row">
    <div class="col-md-12">
    <h2 class="text-center" style="color:blueviolet;">Previous Feedback</h2>
    <h4 class="text-center"><em>Total: {{messages|length}}</em></h4>
    <table class="table table-bordered table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Contact Number</th>
          <th>Address</th>
          <th>Subject</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
          {% for msg in messages%}
             <tr>
               <td>{{msg.id}}</td>
               <td>{{msg.name}}</td>
               <td>{{msg.email}}</td>
               <td>{{msg.contact_number}}</td>
               <td>{{msg.address}}</td>
               <td>{{msg.subject}}</td>
               <td>{{msg.added_on}}</td>
             </tr>
          {% endfor %}
      </tbody>
    </table>
    </div>
</div>
</div>
{% if status %}
<script>
  alert("{{status}}");
</script>
{% endif %}
{% endblock %}



