<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'Jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'fonticon/css/all.min.css' %}">
    <style>
        .bg
        {
        background: url("{% static 'images/ContactUsImgs/ConUs.jpg' %}");background-size:cover;
        }
        .ht
        {
        height:100px;
        }
    </style>
</head>
<body>
<div class="container-fluid px-0">
<div class="row bg text-center font-weight-bold text-white">
<div class="col-md-12" style="background:rgba(0,125,255,0.4);padding:100px 0px">
          <h1 style="font-size: 60px;" class="font-weight-bold">Neurology</h1>
          <p style="font-size: 20px;"><a href="" class="text-white">Home &gt;</a> <a href="" class="text-white">Department Detail &gt;</a></p>
</div>
</div>
</div>
<div class="container-fluid">
    <div class="row">
        <h1 class="mx-auto">Lorem Ipsum</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, expedita. Magnam laboriosam enim sint, eveniet quos molestias perferendis eum incidunt quae perspiciatis modi illo. Similique quas fugiat eos at accusamus!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet ipsa recusandae ipsum sunt nostrum hic minima est, harum sapiente alias reiciendis unde molestiae, ab assumenda explicabo excepturi consectetur neque rem?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem velit, provident harum rem facilis a perspiciatis cupiditate quis cumque suscipit sint veritatis distinctio, illum minima exercitationem sit! Molestiae, earum qui!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore non molestiae nam aliquam voluptate sed, accusantium repellendus. Placeat eius beatae, alias iusto deleniti velit dolorem consequatur exercitationem, voluptatem tempora omnis!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, consequuntur eius dolores, quo quis expedita unde, facere vitae ex neque alias. Corporis nihil quidem expedita minima architecto in. Porro, debitis?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nihil expedita adipisci quasi, nulla nemo maiores et doloribus molestias, culpa quisquam eligendi reiciendis velit fugit, incidunt doloremque deleniti consequuntur. Magni!
        </p>

    </div>
</div>