{% extends "HeadFoot.html" %}
{% block myblock %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors</title>
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Bootstrap/js/bootstrap.min.js' %}">
    <script src="{% static 'Jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/Dr3.css' %}">
</head>
<body>
    <div class="container-fluid px-0">
        <div class="row a">
            <div class="col-md-12 DR" >
            <div class="b p-5">
        <h2 style="font-size: 50px;">DOCTORS PROFILE</h2>
        <a  href="{% url 'HomePage' %}" style="font-size: 30px;color:white">HOME > </a>
        <a  href="{% url 'OurSpecialists' %}" style="font-size: 30px;color:white">DOCTORS > </a>
        <a href="{% url 'Drprofile1' %}" style="font-size: 30px;color:white">DOCTOR PROFILE ></a>      
            </div>
            </div>
            </div>

            </div>
            <div class="container-fluid px-0">
                <div class="row">
                    <div class="col-md-6  ">
                        <img src="{% static 'images/DoctorImages/d11.jpg' %}" class="z" style="height: 290px;width:300px;border: 5px solid green;">
                    </div>
                        <div class="col-md-6 my-5">
                        <h4 style="font-size: 50px;color:blue">DR.MANISHI MALHOTRA</h4>
                    
                            <p style="font-size:20px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, quibusdam quam optio dicta magnam, rem soluta commodi consequuntur autem esse perferendis repellendus reprehenderit ad a. Enim minus a iure vel.</p>
                    <p style="font-size:20px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur vel quis saepe esse inventore id molestias harum officia corporis pariatur sapiente quo tenetur distinctio beatae, placeat nemo magnam nihil. Distinctio?</p>
                        </div></div>
                        
                        <div class="row">
                        
                          
                        <div class="col-md-5 pl-5 " style="border:2px  solid greenyellow">
                            <p class="s" style="font-size:38px;color:darkorange">DR.MANISHI MALHOTRA</p1>    
                            <p style="font-size: 20px;">JI Pahlawan Sidoarjo-Indonasia</p>    
                            <p style="font-size: 20px;">Manishimm@gmail.com</p>    
                            <p style="font-size: 20px;">(+62)8878 765 8910</p>    
                            <p style="font-size: 20px;">www.domain.com</p>    
                    </div>
                    
                    <div class="col-md-5">
                        <h4 style="color:springgreen"><i class="fas fa-user-md bg-info text-white " style="border-radius:50%;padding: 5px;font-size: 30px;"></i>SPECIALIST</h4></br>
                              <P style="font-size:18px;color: lightcoral;">General Health Care</P>
                               <P style="font-size:18px;color: lightcoral;">Surgeon</P>
                               <P style="font-size:18px;color: lightcoral;">Rehabilitiation</P>

                        <h4 style="color:teal"><i class="fas fa-graduation-cap bg-info text-white" style="border-radius:50%;padding: 5px;font-size: 30px;" ></i>EDUCATION</h4></br>
                        <P style="color: lightcoral;font-size:18px;">Doctor of General Health Care,University of Lorem,Uk  </P>
                        <P style="color: lightcoral;font-size:18px;">Doctor Rehabilitiation,University of Lorem,Us  </P>
                        
                        

                        <h4 style="color:limegreen"><i class="fas fa-trophy bg-info text-white" style="border-radius:50%;padding:5px;font-size: 30px;"></i>EXPERIENCE</h4></br>
                        <P style="color: lightcoral;font-size:18px;">25 year of Experience in General Health Care</P>
                        <P style="color: lightcoral;font-size:18px;">10 year of Experience in Surgeon</P><br>
                        

                
                        <h4 style="color:yellowgreen"><i class="fas fa-award bg-info text-white" style="border-radius:50%;padding: 5px;font-size: 30px;"></i>AWARDS & RECOGNITION</h4><br>
                        <P style="color: lightcoral;font-size:18px;">Top Doctor of General Health Care(2016)</P>
                        <p style="color: lightcoral;font-size:18px;">Bost AWARDS of Surgeon</p>
                    </div>
                </div> 
                   
                </div>
            </div>
            <div class="container-fluid px-0">
                <div class="row">
                    <div class="col-md-6  ">
                        <img src="{% static 'images/DoctorImages/dc7.jpg' %}" class="z" style="height: 290px;width:300px;border: 5px solid green;">
                    </div>
                        <div class="col-md-6 my-5">
                        <h4 style="font-size: 50px;color:blue;">DR.ANGELINA JOHN</h4>
                    
                            <p style="font-size:20px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, quibusdam quam optio dicta magnam, rem soluta commodi consequuntur autem esse perferendis repellendus reprehenderit ad a. Enim minus a iure vel.</p>
                    <p style="font-size:20px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur vel quis saepe esse inventore id molestias harum officia corporis pariatur sapiente quo tenetur distinctio beatae, placeat nemo magnam nihil. Distinctio?</p>
                        </div></div>
                        
                        <div class="row">
                       
                        <div class="col-md-5 pl-5 " style="border:2px  solid greenyellow">
                            <p class="s" style="font-size:38px;color:darkorange">DR.ANGELINA JOHN</p1>    
                            <p style="font-size: 20px;color: lightcoral;">JI Pahlawan Sidoarjo-Indonasia</p>    
                            <p style="font-size: 20px;color: lightcoral;">angel@gmail.com</p>    
                            <p style="font-size: 20px;color: lightcoral;">(+62)9089 567 8910</p>    
                            <p style="font-size: 20px;color: lightcoral;">www.domain.com</p>    
                    </div>
                    
                    <div class="col-md-5">
                        <h4 style="color:springgreen"><i class="fas fa-user-md bg-info text-white " style="border-radius:50%;padding: 5px;font-size: 30px;"></i>SPECIALIST</h4></br>
                              <P style="color: lightcoral;font-size:18px;">Physiotherapist</P>
                               <P style="color: lightcoral;font-size:18px;">Surgeon</P>
                               <P style="color: lightcoral;font-size:18px;">Rehabilitiation</P>

                        <h4 style="color:teal"><i class="fas fa-graduation-cap bg-info text-white" style="border-radius:50%;padding: 5px;font-size: 30px;" ></i>EDUCATION</h4></br>
                        <P style="color: lightcoral;font-size:18px;">Doctor of Physiotherapist,University of Lorem,Uk  </P>
                        <P style="color: lightcoral;font-size:18px;">Doctor Rehabilitiation,University of Lorem,Us  </P>
                        
                        

                        <h4 style="color:limegreen"><i class="fas fa-trophy bg-info text-white" style="border-radius:50%;padding:5px;font-size: 30px;"></i>EXPERIENCE</h4></br>
                        <P style="color: lightcoral;font-size:18px;">25 year of Experience in Physiotherapist</P>
                        <P style="color: lightcoral;font-size:18px;">10 year of Experience in Surgeon</P><br>
                        

                
                        <h4 style="color:yellowgreen"><i class="fas fa-award bg-info text-white" style="border-radius:50%;padding: 5px;font-size: 30px;"></i>AWARDS & RECOGNITION</h4><br>
                        <P style="color: lightcoral;font-size:18px;">Top Doctor of Physiotherapist(2015)</P>
                        <p style="color: lightcoral;font-size:18px;">Bost AWARDS of Surgeon</p>
                    </div>
                   
                </div>
            </div>
            <div class="container-fluid px-0">
                <div class="row">
                    <div class="col-md-6  ">
                        <img src="{% static 'images/DoctorImages/dc2.jpg' %}" class="z" style="height: 290px;width:300px;border: 5px solid green;">
                    </div> 
                    <div class="col-md-6">
                            <H4 style="margin-top: 60PX;font-size: 50px;color:blue">DR.ADRIAN SARITA</H4>
                            <p style="font-size:20px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, quibusdam quam optio dicta magnam, rem soluta commodi consequuntur autem esse perferendis repellendus reprehenderit ad a. Enim minus a iure vel.</p>
                    <p style="font-size:20px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur vel quis saepe esse inventore id molestias harum officia corporis pariatur sapiente quo tenetur distinctio beatae, placeat nemo magnam nihil. Distinctio?</p>
                        </div></div>
                        
                        <div class="row">
                        
                        <div class="col-md-5 pl-5 " style="border:2px  solid greenyellow">
                            <p class="s" style="font-size:38px;color:darkorange">DR.ADRIAN SARITA</p1>    
                            <p style="font-size: 20px;color: lightcoral;">JI Pahlawan Sidoarjo-Indonasia</p>    
                            <p style="font-size: 20px;color: lightcoral;">email@domain.com</p>    
                            <p style="font-size: 20px;color: lightcoral;">(+62)1234 888 8910</p>    
                            <p style="font-size: 20px;color: lightcoral;">www.domain.com</p>    
                    </div>
                    
                    <div class="col-md-5">
                        <h4 style="color:springgreen"><i class="fas fa-user-md bg-info text-white " style="border-radius:50%;padding: 5px;font-size: 30px;"></i>SPECIALIST</h4></br>
                              <P style="color: lightcoral;font-size:18px;">Gynaecological</P>
                               <P style="color: lightcoral;font-size:18px;">Surgeon</P>
                               <P style="color: lightcoral;font-size:18px;">Rehabilitiation</P>

                        <h4 style="color:teal"><i class="fas fa-graduation-cap bg-info text-white" style="border-radius:50%;padding: 5px;font-size: 30px;" ></i>EDUCATION</h4></br>
                        <P style="color: lightcoral;font-size:18px;">Doctor of Gynaecological,University of Lorem,Uk  </P>
                        <P style="color: lightcoral;font-size:18px;">Doctor Rehabilitiation,University of Lorem,Us  </P>
                        
                        

                        <h4 style="color:limegreen"><i class="fas fa-trophy bg-info text-white" style="border-radius:50%;padding:5px;font-size: 30px;"></i>EXPERIENCE</h4></br>
                        <P style="color: lightcoral;font-size:18px;">25 year of Experience in Gynaecological</P>
                        <P style="color: lightcoral;font-size:18px;">10 year of Experience in Surgeon</P><br>
                        

                
                        <h4 style="color:yellowgreen"><i class="fas fa-award bg-info text-white" style="border-radius:50%;padding: 5px;font-size: 30px;"></i>AWARDS & RECOGNITION</h4><br>
                        <P style="color: lightcoral;font-size:18px;">Top Doctor of Gynaecological(2010)</P>
                        <p style="color: lightcoral;font-size:18px;">Bost AWARDS of Surgeon</p>
                    </div>
                   
                </div>
            </div>
            <div class="container-fluid px-0">
                <div class="row">
                    <div class="col-md-6  ">
                        <img src="{% static 'images/DoctorImages/dc1.jpg' %}" class="z" style="height: 290px;width:300px;border: 5px solid green;">
                    </div> 
                    <div class="col-md-6">
                            <H4 style="margin-top: 60PX;font-size: 50px;color:blue">DR.HOPE GUANZON</H4>
                            <p style="font-size:20px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, quibusdam quam optio dicta magnam, rem soluta commodi consequuntur autem esse perferendis repellendus reprehenderit ad a. Enim minus a iure vel.</p>
                    <p style="font-size:20px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur vel quis saepe esse inventore id molestias harum officia corporis pariatur sapiente quo tenetur distinctio beatae, placeat nemo magnam nihil. Distinctio?</p>
                        </div></div>
                        
                        <div class="row">
                       
                        <div class="col-md-5 pl-5 " style="border:2px  solid greenyellow">
                            <p class="s" style="font-size:38px;color:darkorange">DR.HOPE GUANZON</p1>    
                            <p style="font-size: 20px;color: lightcoral;">JI Pahlawan Sidoarjo-Indonasia</p>    
                            <p style="font-size: 20px;color: lightcoral;">Hopeg@gmail.com</p>    
                            <p style="font-size: 20px;color: lightcoral;">(+62)7777 567 8910</p>    
                            <p style="font-size: 20px;color: lightcoral;">www.domain.com</p>    
                    </div>
                    
                    <div class="col-md-5">
                        <h4 style="color:springgreen"><i class="fas fa-user-md bg-info text-white " style="border-radius:50%;padding: 5px;font-size: 30px;"></i>SPECIALIST</h4></br>
                              <P style="color: lightcoral;font-size:18px;">Orthopedic</P>
                               <P style="color: lightcoral;font-size:18px;">Surgeon</P>
                               <P style="color: lightcoral;font-size:18px;">Rehabilitiation</P>

                        <h4 style="color:teal"><i class="fas fa-graduation-cap bg-info text-white" style="border-radius:50%;padding: 5px;font-size: 30px;" ></i>EDUCATION</h4></br>
                        <P style="color: lightcoral;font-size:18px;">Doctor of Orthopedic,University of Lorem,Uk  </P>
                        <P style="color: lightcoral;font-size:18px;">Doctor Rehabilitiation,University of Lorem,Us  </P>
                        
                        

                        <h4 style="color:limegreen"><i class="fas fa-trophy bg-info text-white" style="border-radius:50%;padding:5px;font-size: 30px;"></i>EXPERIENCE</h4></br>
                        <P style="color: lightcoral;font-size:18px;">25 year of Experience in Orthopedic</P>
                        <P style="color: lightcoral;font-size:18px;">10 year of Experience in Surgeon</P><br>
                        

                
                        <h4 style="color:yellowgreen"><i class="fas fa-award bg-info text-white" style="border-radius:50%;padding: 5px;font-size: 30px;"></i>AWARDS & RECOGNITION</h4><br>
                        <P style="color: lightcoral;font-size:18px;">Top Doctor of Orthopedic(2000)</P>
                        <p style="color: lightcoral;font-size:18px;">Bost AWARDS of Surgeon</p>
                    </div>
                   
                </div>
            </div>
            <div class="container-fluid px-0">
                <div class="row">
                    <div class="col-md-6  ">
                        <img src="{% static 'images/DoctorImages/dc4.jpg' %}" class="z" style="height: 290px;width:300px;border: 5px solid green;">
                    </div> 
                    <div class="col-md-6">
                            <H4 style="margin-top: 60PX;font-size: 50px;color:blue"">DR.EARL GAMPONG</H4>
                            <p style="font-size:20px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, quibusdam quam optio dicta magnam, rem soluta commodi consequuntur autem esse perferendis repellendus reprehenderit ad a. Enim minus a iure vel.</p>
                    <p style="font-size:20px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur vel quis saepe esse inventore id molestias harum officia corporis pariatur sapiente quo tenetur distinctio beatae, placeat nemo magnam nihil. Distinctio?</p>
                        </div></div>
                        
                        <div class="row">
                        
                        <div class="col-md-5 pl-5 " style="border:2px  solid greenyellow">
                            <p class="s" style="font-size:38px;color:darkorange">DR.EARL GAMPONG</p1>    
                            <p style="font-size: 20px;color: lightcoral;">JI Pahlawan Sidoarjo-Indonasia</p>    
                            <p style="font-size: 20px;color: lightcoral;">Earl@gmail.com</p>    
                            <p style="font-size: 20px;color: lightcoral;">(+62)1234 567 8910</p>    
                            <p style="font-size: 20px;color: lightcoral;">www.domain.com</p>    
                                  
                    </div>
                    
                    <div class="col-md-5">
                        <h4 style="color:springgreen"><i class="fas fa-user-md bg-info text-white " style="border-radius:50%;padding: 5px;font-size: 30px;"></i>SPECIALIST</h4></br>
                              <P style="color: lightcoral;font-size:18px;">Neurologist</P>
                               <P style="color: lightcoral;font-size:18px;">Surgeon</P>
                               <P style="color: lightcoral;font-size:18px;">Rehabilitiation</P>

                        <h4 style="color:teal"><i class="fas fa-graduation-cap bg-info text-white" style="border-radius:50%;padding: 5px;font-size: 30px;" ></i>EDUCATION</h4></br>
                        <P style="color: lightcoral;font-size:18px;">Doctor of Neurologist,University of Lorem,Uk  </P>
                        <P style="color: lightcoral;font-size:18px;">Doctor Rehabilitiation,University of Lorem,Us  </P>
                        
                        

                        <h4 style="color:limegreen"><i class="fas fa-trophy bg-info text-white" style="border-radius:50%;padding:5px;font-size: 30px;"></i>EXPERIENCE</h4></br>
                        <P style="color: lightcoral;font-size:18px;">25 year of Experience in Neurologist</P>
                        <P style="color: lightcoral;font-size:18px;">10 year of Experience in Surgeon</P><br>
                        

                
                        <h4 style="color:yellowgreen"><i class="fas fa-award bg-info text-white" style="border-radius:50%;padding: 5px;font-size: 30px;"></i>AWARDS & RECOGNITION</h4><br>
                        <P style="color: lightcoral;font-size:18px;">Top Doctor of Neurologist(2011)</P>
                        <p style="color: lightcoral;font-size:18px;">Bost AWARDS of Surgeon</p>
                    </div>
                   
                </div>
            </div>
         
            <div class="container-fluid px-0">
                <div class="row">
                    <div class="col-md-6  ">
                        <img src="{% static 'images/DoctorImages/dc8.jpg' %}" class="z" style="height: 290px;width:300px;border: 5px solid green;">
                    </div> 
                    <div class="col-md-6">
                            <H4 style="margin-top: 60PX;font-size: 50px;color:blue"">DR.SAMUEL</H4>
                            <p style="font-size:20px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, quibusdam quam optio dicta magnam, rem soluta commodi consequuntur autem esse perferendis repellendus reprehenderit ad a. Enim minus a iure vel.</p>
                    <p style="font-size:20px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur vel quis saepe esse inventore id molestias harum officia corporis pariatur sapiente quo tenetur distinctio beatae, placeat nemo magnam nihil. Distinctio?</p>
                        </div></div>
                        
                        <div class="row">
                       
                        <div class="col-md-5 pl-5 " style="border:2px  solid greenyellow">
                            <p class="s" style="font-size:38px;color:darkorange">DR.SAMUEL</p1>    
                            <p style="font-size: 20px;color: lightcoral;">JI Pahlawan Sidoarjo-Indonasia</p>    
                            <p style="font-size: 20px;color: lightcoral;">samu@gmail.com</p>    
                            <p style="font-size: 20px;color: lightcoral;">(+62)8765 567 8910</p>    
                            <p style="font-size: 20px;color: lightcoral;">www.domain.com</p>
                    </div>
                    
                    <div class="col-md-5">
                        <h4 style="color: springgreen;"><i class="fas fa-user-md bg-info text-white " style="border-radius:50%;padding: 5px;font-size: 30px;"></i>SPECIALIST</h4></br>
                              <P style="color: lightcoral;font-size:18px;">Microbiologist</P>
                               <P style="color: lightcoral;font-size:18px;">Surgeon</P>
                               <P style="color: lightcoral;font-size:18px;">Rehabilitiation</P>

                        <h4 style="color:teal"><i class="fas fa-graduation-cap bg-info text-white" style="border-radius:50%;padding: 5px;font-size: 30px;" ></i>EDUCATION</h4></br>
                        <P style="color: lightcoral;font-size:18px;">Doctor of Microbiologist,University of Lorem,Uk  </P>
                        <P style="color: lightcoral;font-size:18px;">Doctor Rehabilitiation,University of Lorem,Us  </P>
                        <h4 style="color:limegreen"><i class="fas fa-trophy bg-info text-white" style="border-radius:50%;padding:5px;font-size: 30px;"></i>EXPERIENCE</h4></br>
                        <P style="color: lightcoral;font-size:18px;">25 year of Experience in Microbiologist</P>
                        <P style="color: lightcoral;font-size:18px;">10 year of Experience in Surgeon</P><br>
                        <h4 style="color:yellowgreen"><i class="fas fa-award bg-info text-white" style="border-radius:50%;padding: 5px;font-size: 30px;"></i>AWARDS & RECOGNITION</h4><br>
                        <P style="color: lightcoral;font-size:18px;">Top Doctor of Microbiologist(2010)</P>
                        <p style="color: lightcoral;font-size:18px;">Bost AWARDS of Surgeon</p>
                    </div>
                   </div>
            </div>
            <div class="container-fluid px-0">
                <div class="row">
                    <div class="col-md-6  ">
                        <img src="{% static 'images/DoctorImages/dc5.jpg' %}" class="z" style="height: 290px;width:300px;border: 5px solid green;">
                    </div> 
                    <div class="col-md-6">
                            <H4 style="margin-top: 60PX;font-size: 50px;color:blue"">DR.APRIL GONZAGA</H4>
                            <p style="font-size:20px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, quibusdam quam optio dicta magnam, rem soluta commodi consequuntur autem esse perferendis repellendus reprehenderit ad a. Enim minus a iure vel.</p>
                    <p style="font-size:20px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur vel quis saepe esse inventore id molestias harum officia corporis pariatur sapiente quo tenetur distinctio beatae, placeat nemo magnam nihil. Distinctio?</p>
                        </div></div>
                        
                        <div class="row">
                        <div class="col-md-5 pl-5 " style="border:2px  solid greenyellow">
                            <p class="s" style="font-size:38px;color:darkorange;">DR.APRIL GONZAGA</p1>    
                            <p style="font-size: 20px;color: lightcoral;">JI Pahlawan Sidoarjo-Indonasia</p>    
                            <p style="font-size: 20px;color: lightcoral;">april1@gmail.com</p>    
                            <p style="font-size: 20px;color: lightcoral;">(+62)9998 567 8765</p>    
                            <p style="font-size: 20px;color: lightcoral;">www.domain.com</p>
                    </div>
                    
                    <div class="col-md-5">
                        <h4 style="color: springgreen;"><i class="fas fa-user-md bg-info text-white " style="border-radius:50%;padding: 5px;font-size: 30px;"></i>SPECIALIST</h4></br>
                              <P style="color: lightcoral;font-size:18px;">Cardiologist</P>
                               <P style="color: lightcoral;font-size:18px;">Surgeon</P>
                                <P style="color: lightcoral;font-size:18px;">Rehabilitiation</P>

                        <h4 style="color:teal"><i class="fas fa-graduation-cap bg-info text-white" style="border-radius:50%;padding: 5px;font-size: 30px;" ></i>EDUCATION</h4></br>
                        <P style="color: lightcoral;font-size:18px;">Doctor of Cardiologist,University of Lorem,Uk  </P>
                        <P style="color: lightcoral;font-size:18px;">Doctor Rehabilitiation,University of Lorem,Us  </P>
                        <h4 style="color:limegreen"><i class="fas fa-trophy bg-info text-white" style="border-radius:50%;padding:5px;font-size: 30px;"></i>EXPERIENCE</h4></br>
                        <P style="color: lightcoral;font-size:18px;">25 year of Experience in Cardiologist</P>
                        <P style="color: lightcoral;font-size:18px;">10 year of Experience in Surgeon</P><br>
                        <h4 style="color:yellowgreen"><i class="fas fa-award bg-info text-white" style="border-radius:50%;padding: 5px;font-size: 30px;"></i>AWARDS & RECOGNITION</h4><br>
                        <P style="color: lightcoral;font-size:18px;">Top Doctor of Cardiologist(2013)</P>
                        <p style="color: lightcoral;font-size:18px;">Bost AWARDS of Surgeon</p>
                    </div>
                   </div>
            </div>
            <div class="container-fluid px-0">
                <div class="row">
                    <div class="col-md-6  ">
                        <img src="{% static 'images/DoctorImages/dc3.jpg' %}" class="z" style="height: 290px;width:300px;border: 5px solid green;">
                    </div> 
                    <div class="col-md-6">
                            <H4 style="margin-top: 60PX;font-size: 50px;color:blue"">DR.GERARD UY</H4>
                            <p style="font-size:20px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, quibusdam quam optio dicta magnam, rem soluta commodi consequuntur autem esse perferendis repellendus reprehenderit ad a. Enim minus a iure vel.</p>
                    <p style="font-size:20px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur vel quis saepe esse inventore id molestias harum officia corporis pariatur sapiente quo tenetur distinctio beatae, placeat nemo magnam nihil. Distinctio?</p>
                        </div></div>
                        
                        <div class="row">
                        
                        <div class="col-md-5 pl-5 " style="border:2px  solid greenyellow">
                            <p class="s" style="font-size:38px;color:darkorange">DR.GERARD UY</p1>    
                            <p style="font-size: 20px;">JI Pahlawan Sidoarjo-Indonasia</p>    
                            <p style="font-size: 20px;">gerard@gmail.com</p>    
                            <p style="font-size: 20px;">(+62)4578 657 6543</p>    
                            <p style="font-size: 20px;">www.domain.com</p>
                    </div>
                    
                    <div class="col-md-5">
                        <h4 style="color:springgreen"><i class="fas fa-user-md bg-info text-white " style="border-radius:50%;padding: 5px;font-size: 30px;"></i>SPECIALIST</h4></br>
                              <P style="color: lightcoral;font-size:18px;">Paediatrician</P>
                              <p style="color: lightcoral;font-size:18px;">Surgeon</p>        
                               <P style="color: lightcoral;font-size:18px;">Rehabilitiation</P>

                        <h4 style="color:teal"><i class="fas fa-graduation-cap bg-info text-white" style="border-radius:50%;padding: 5px;font-size: 30px;" ></i>EDUCATION</h4></br>
                        <P style="color: lightcoral;font-size:18px;">Doctor of Paediatrician,University of Lorem,Uk  </P>
                        <P style="color: lightcoral;font-size:18px;">Doctor Rehabilitiation,University of Lorem,Us  </P>
                        <h4 style="color:limegreen"><i class="fas fa-trophy bg-info text-white" style="border-radius:50%;padding:5px;font-size: 30px;"></i>EXPERIENCE</h4></br>
                        <P style="color: lightcoral;font-size:18px;">25 year of Experience in Paediatrician</P>
                        <P style="color: lightcoral;font-size:18px;">10 year of Experience in Surgeon</P><br>
                        <h4 style="color:yellowgreen"><i class="fas fa-award bg-info text-white" style="border-radius:50%;padding: 5px;font-size: 30px;"></i>AWARDS & RECOGNITION</h4><br>
                        <P style="color: lightcoral;font-size:18px;">Top Doctor of Paediatrician(2007)</P>
                        <p style="color: lightcoral;font-size:18px;">Bost AWARDS of Surgeon</p>
                    </div>
                   </div>
            </div>
        </body>
        </html>
        {% endblock %}