{% extends "dashboard_base.html" %}
{% load static %}
{% block dashboard %} 
<style>
    .bg-img{
    background:url("/static/images/cover1.jpg");background-size: 100% 100%;
}

.lb{
    font-size: 20px;color:darkblue
}
</style>
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-md-12 bg-img py-4 p-5">
            <h1 style="text-align: center;color:white"><a href="{% url 'patient_dashboard' %}">Dashboard &gt;</a> <a href="{% url 'edit_profile' %}">Edit Profile</a></h1>
        </div>
        <div class="col-md-10 mx-auto p-3 bg-primary my-2">
            <div class="text-center">
                {% if data.profile_pic %}
                <img src="/media/{{data.profile_pic}}" style="height:150px;width:150px;border-radius:50%">
                {% else %}
                <img src="{% static 'images/user.jpg' %}" style="height:150px;width:150px;border-radius:50%">
                {% endif %}
            </div>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% if status %}
                <div class="alert alert-primary">{{status}}</div>
                {% endif %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="" class="font-weight-bold lb">First Name:</label>
                            <input type="text" class="form-control" name="fname" placeholder="Enter First Name.."  value="{{user.first_name}}">
                        </div><br/><br/><br/>

                        <div class="col-md-6">
                            <label for="" class="font-weight-bold lb">Last Name:</label>
                            <input type="text" class="form-control" name="lname" placeholder="Enter Last Name.." value="{{user.last_name}}">
                        </div><br/><br/><br/>

                        <div class="col-md-6">
                            <label for="" class="font-weight-bold lb">Email:</label>
                            <input type="email" class="form-control" name="email" placeholder="Enter Email.." value="{{user.email}}">
                        </div><br/><br/><br/>
                        <div class="col-md-6">
                            <label for="" class="font-weight-bold lb">Profile Picture:</label>
                            <input type="file" class="form-control" name="image">
                        </div><br/><br/><br/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="" class="font-weight-bold lb">Contact:</label>
                            <input type="number" value="{{data.contact_number}}" class="form-control" name="contact" placeholder="Enter Contact Number.." pattern="[0-9]{10}" title="Number must contain 10 digits only!!"  >
                        </div><br/><br/><br/>
                        <div class="col-md-6">
                            <label for=""  class="font-weight-bold lb">Age(in years):</label>
                            <input type="number" class="form-control" name="age" placeholder="Enter Age.." min="15" max="99"  value="{{data.age}}">
                        </div><br/><br/><br/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="" class="font-weight-bold lb">City:</label>
                            <input type="text" class="form-control" name="city" placeholder="Enter City.."   value="{{data.city}}">
                        </div><br/><br/><br/>
                        <div class="col-md-6">
                            <label for="" class="font-weight-bold lb" >Gender:</label>
                            <select name="gender"  class="form-control">
                                <option value="Male">Male</option>
                                {% if data.gender == "Female" %}
                                <option value="Female" selected>Female</option>
                                {% else %}
                                <option value="Female">Female</option>
                                {% endif %}

                                {% if data.gender == "Others" %}
                                <option value="Others" selected>Others</option>
                                {% else %}
                                <option value="Others">Others</option>
                                {% endif %}
                            </select>
                        </div><br/><br/><br/>
                    </div>
                </div>
              <div class="form-group">
                <label for=""  class="font-weight-bold lb">Occupation:</label>
                <input type="text" class="form-control" placeholder="Enter Occupation" name="occ" value="{{data.occupation}}">
              </div>

              <div class="form-group">
                <label for="" class="font-weight-bold lb">About You:</label>
                <textarea name="about" placeholder="Write about Yourself" class="form-control"  >{{data.about}}</textarea>
              </div><br/>
              <div class="form-group">
                <input type="submit" name="changeprofile" value="Save Changes"class="btn btn-dark" style="border-radius: 20px;width: 800px;">
              </div>
            </form>

    </div>
    
</div>
{% endblock %}