<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Bootstrap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
    <!-- <script src="/storage/emulated/0/.a/javascript.js"></script> -->
    <script src="{% static 'Jquery.js' %}"></script>
    <script src="{% static 'Bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    
    <style>
      body{
            padding: 0px;
            margin: 0px;
        }
      .header{
          text-align: center;
          line-height: 50px;
          color:white;
      }
      a{
          color:white; 
      }
      a:hover{
        text-decoration: none;
        color:green;
      }
      #nav{
          position:sticky;
          top:0%;
         }
    .fixed-footer{
        width:100%; 
        bottom:0px;
        Position: relative;
        padding-bottom:100px;
    }
    h5{
        border-bottom:3px solid #4caf50;
        margin-bottom: 50px;
        padding:  20px 0; color:white;
    }
       
    .footer{
        background-color: rgba(0, 0, 0, 1);
        color:white;
        position: relative; 
        bottom: 0px;
        height:100px;
        Width:100%;
        line-height:100px
    }
     /* input{
        padding:15px;border-radius: 5px;border:none;
        position:absolute;width:80%;
    } */
    .z{
        position:relative; background-color: #4caf50;
        color:white; padding: 2px; border:none; float:right;width: 100px;height:30px
    } 
    .icon i{
        padding:15px;
        border-radius: 50%;
    }
    .icon i:hover{
        background-color:#4caf50;
    }
    i{
        padding:5px; font-size:20px ;
        color:white;
    }
    /* form{margin-bottom:107px} */
    </style>
    </head>
<body>
    <div class="container-fluid px-0">
        <div class="row header bg-dark">
            <div class="col-sm-5">
                <nav>
                    <i class="far fa-envelope"></i>
                    <a href="" style="color:blue">support@NurtureHealth.com</a>
                    <i class="fas fa-headphones"></i>
                    <a href="" style="color:blue">+8356896453475</a>
                </nav>
            </div>
            <div class="col-sm-3">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-vimeo-v"></i>
                <i class="fab fa-linkedin-in"></i>
                <i class="fab fa-pinterest"></i>
            </div>
            <div class="col-sm-4">
                {% if user.is_authenticated %}
                <a href="{% url 'patient_dashboard' %}" class="text-light" style="font-size: 25px;">Welcome {{user.username}}</a>
                {% else %}
                <div class="row mx-3">
                    <button class="btn btn-outline-light m-2" style="height:40px;"><a href="{% url 'SignIn' %}" class="mx-3">Login</a></button>
                    <button class="btn btn-outline-light m-2" style="height:40px;"><a href="{% url 'SignUp' %}" class="mx-3">Register</a></button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid col-md-12 px-0">
        <div class="row" id="nav">
            <div class="col-md-12 px-0" >
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand"><img src="{% static 'images/LogoImages/logs.png' %}" style="width: 100px;height: 100px;"></a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav">
                            <a href="{% url 'HomePage' %}" class="nav-item nav-link active" style="font-size: 21px;">Home</a>
                            <a href="{% url 'Departments' %}" class="nav-item nav-link active" style="font-size: 21px;">Department</a>
                            <a href="{% url 'all_treatments' %}" class="nav-item nav-link active" style="font-size: 21px;">All Treatments</a>
                            <a href="{% url 'OurSpecialists' %}" class="nav-item nav-link active" style="font-size: 21px;">Doctors</a>
                            <a href="{% url 'DctrPrfView' %}" class="nav-item nav-link active" style="font-size: 21px;">Doctor Profile</a>
                            <a href="{% url 'ContactUS' %}" class="nav-item nav-link active" style="font-size: 21px;">Contact Us</a>
                            <a href="{% url 'Review' %}" class="nav-item nav-link active" style="font-size: 21px;">Reviews</a>
                            
                        </div>
                        <div class="ml-auto">
                            <a href="{% url 'Appointment_booking' %}" class="nav-item nav-link active " style="font-size: 21px;"><button class="bg-warning text-dark mx-auto" style="width: 200px;height: 40px;">Book Appointment</button></a>
                        </div>
                      
                        
                    </div>
                </nav>
            </div>
        </div>
        
        </div>
    </div>
            {% block myblock %}
            
            
            {% endblock %}
            <div class="container-fluid text-muted fixed-footer px-0" style="background:rgba(0, 0, 0, 0.9);">
                <div class="row py-0">
                    <div class="col-md-3">
                        <h5 style="font-size: 30px;">Logo</h5>
                        <p class="text-justify" style="color:white;font-size: 17px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus similique
                        nulla quaerat placeat. Fuga ipsum harum sint corporis. Odit doloribus ut
                        blanditiis voluptate quisquam qui quo aspernatur perspiciatis tempore quas.</p>
                        <div class="icon">
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-vimeo-v"></i>
                            <i class="fab fa-linkedin-in"></i>
                            <i class="fab fa-pinterest"></i>
                        </div>
                    </div>
                    <div class="col-md-3 px-0">
                        <h5 style="font-size: 30px;">Contact Us</h5>
                        <a href="" style="color:blue;font-size: 17px;"><i class="fas fa-headphones"></i>800 579.987.579</a><br/>
                        <a href="" style="color:blue;font-size: 17px;"><i class="far fa-envelope"></i>support@pioneerpython.com</a ><br/>
                        <a href="" style="color:blue;font-size: 17px;"><i class="fas fa-map-marker-alt"></i>184 Main Collins Street Chicago,United States</a>
                    </div>
                    <div class="col-md-3 px-0">
                        <h5 style="font-size: 30px;">Quick links</h5>
                        <p style="font-size: 20px;"><a href="{% url 'HomePage' %}">Home</a></p>
                        <p style="font-size: 20px;"><a href="{% url 'Departments' %}">Department</a></p>
                        <p style="font-size: 20px;"><a href="{% url 'ContactUS' %}">Contact Us</a></p>
                        <p style="font-size: 20px;"><a href="{% url 'OurSpecialists' %}">Doctors</a></p>
                        <p style="font-size: 20px;"><a href="{% url 'DctrPrfView' %}">Doctor Profile</a></p>
                        <p style="font-size: 20px;"><a href="{% url 'all_treatments' %}">All Treatments</a></p>
                        <p style="font-size: 20px;"><a href="{% url 'Review' %}">Reviews</a></p>
                    </div>
                    <div class="col-md-3 px-0">
                        <h5 style="font-size: 30px;">Newslatter</h5>
                        <p style="color:white;font-size: 19px;">Subscribe to get update and information.Don't worry, we won't send spam!</p>
                             <div>
                                 <form action="">
                                    <input type="email" placeholder="Enter your email" style="width:95%"></br><br>
                                    <button style="width:95%;text-align: center;background-color: green;">Subscribe</button>
                                 </form>
                             </div>
                            
                         
                    </div>
                </div>
            </div>
                <div class="col-md-12 px-0 align-center">
                    <div class="footer text-center">& copyright 2020 .All rights reserved</div>
                </div>
        
    </body>
    </html>
