{% extends "HeadFoot.html" %}
{% block myblock %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New home page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/homecss.css' %}">
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'Jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Bootstrap/js/bootstrap.min.js' %}">
    <!-- <link rel="stylesheet" href="{% static 'fonticon/css/all.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row py-5" style=" background:url('/static/images/drcover.jpg');background-size: 100% 100%;">
            <div class="col-md-8 mx-auto my-5" >
                <form action="{% url 'all_treatments' %}">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5">
                            <input type="text" name="qry" class="form-control" placeholder="Search by Treatment Name...">
                        </div>
                        <!-- <div class="col-md-5">
                            <input type="text" name="price" class="form-control" placeholder="Search by Price less than...">
                        </div> -->
                        <div class="col-md-2">
                            <button type="submit"  class='btn btn-success'>Search</button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>

 <div class="container-fluid headerset text-center"> 
         
        <h2 style="font-family:Georgia, 'Times New Roman', Times, serif;font-size: 50px;color:slateblue;"> Welcome To Life Care</h2>
        <h1 style="font-size: 46px;color:seagreen;font-family:inherit;">WE CARE YOUR HEALTH</h1>
        <button class="btn btn-warning text-black btn-lg mb-2" style="font-size:30px;width:170px">Services</button>
    </div>
<div class="container-fluid ourservices text-center" style="background: linear-gradient(blue,lightblue,slateblue);">
    <h1 style="font-size: 50px;color:white;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">MEDICAL SERVICES</h1>
    <div class="row col-md-12">
        <div class="col-md-4">
            <div class="imgsetting d-block m-auto bg-warning">
                <i class="fa fa-user-md  text-white" style="font-size: 40px;padding-top: 20px;"></i>
            </div>

                <h2 style="color:crimson;font-size: 30px;" class="font-weight-bold">BLOOD</h2>
                <p style="font-size: 20px;color:gold">We provide best medical services.Blood is a body bluid in humans that delivers necessary substanes in body.So we have all kind of blood available needed by patients...</p>
            </div>

            <div class="col-md-4">
                <div class="imgsetting d-block m-auto bg-warning">
                    <i class="fa fa-medkit text-white" style="font-size: 40px;padding-top: 20px;"></i>
                </div>
                <h2 style="color:crimson;font-size: 30px;" class="font-weight-bold">LAB TEST</h2>
                <p style="font-size: 20px;color:gold">Lab test includes many kind of tests like blood,urine,body tissues and many more.So,here we provide all types of lab tests at affordable prices...</p>
            </div>

            <div class="col-md-4">
                <div class="imgsetting d-block m-auto bg-warning"><i class="fas fa-ambulance  text-white" style="font-size: 40px;padding-top: 20px;"></i>
                </div>
                <h2 style="color:crimson;font-size: 30px;" class="font-weight-bold">EMERGENCY CARE</h2>
                <p style="font-size: 20px;color:gold">Emergency care can be required anytime by the patients like any accident or any kind of illness.We have 24hours emergency care doctors who handle emergency cases...</p>
            </div>
        </div>
    </div>
    <!--///////////////////////////doctor pics/////////////////////*/-->
    
        <div class="container-fluid text-center bg-light" style="background: linear-gradient(lightblue,lightgray);">
            <h1 style="font-size: 50px;color:teal;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif" class="font-weight-bold">DOCTORS</h1>
            <p style="font-size: 58px;color:dodgerblue;font-family: 'Courier New', Courier, monospace;" class="font-weight-bold">Our Qualified Doctors</p>
            <div class="row col-md-12">
                <div class="col-md-4">                    
                    <div style="box-shadow:0px 0px 25px blue">
                        
                        <a href="{% url 'DctrPrfView' %}"><img src="{% static 'images/DoctorImages/dc5.jpg' %}" class="card-img img-fluid" style="width:340px;height: 250px;"></a>
                        
                    </div>
                            <h2 class="card-title p-3" style="color: indigo;">DR.APRIL GONZAGA</h2>
                   
                </div>
                <div class="col-md-4 ">
                   <div style="box-shadow:0px 0px 25px blue">
                     <a href="{% url 'DctrPrfView' %}"><img src="{% static 'images/HomeImages/dc.jpg' %}" class="card-img img-fluid" style="width:340px;height: 250px;"></a>                
                   </div>
                            <h2 class="card-title p-3" style="color: indigo;">DR.EARL GAMPONG</h2>
                   
                  
                </div>
                <div class="col-md-4 ">
                    <div style="box-shadow:0px 0px 25px blue">
                        <a href="{% url 'DctrPrfView' %}"> 
                            <img src="{% static 'images/DoctorImages/d11.jpg' %}" class="card-img img-fluid" style="width:340px;height: 250px;"></a>
                    </div>
                            <h2 class="card-title p-3" style="color: indigo;"> DR.MANISHI MALHOTRA</h2>    
                    </div>
                </div>
              
            </div>

        <div class="container-fluid px-0">
            <h1 style="background-color:darkseagreen;text-align: center;font-size: 40px;" class="p-5">OUR DEPARTMENTS</h1>
            <p style="font-size: 30px;color:blue;text-align: center;" class="font-weight-bold">We have different departments here to treat different kind of patients</p>
            <div class="row col-md-12">
                <div class="col-md-4 ">
                    <figure class="figure">
                        <div class="box-hover" style="box-shadow: 0px 0px 50px forestgreen;background-color:cadetblue;"><a href="{% url 'Departments' %}"><img src="{% static 'images/DepImages/Cardio.jpg' %}" class="figure-img img-fluid p-5 " 
                            height="500px" width="400px" style="border-radius: 60px;"></a></div>
                        <h4 style="font-size: 30px;color:green">CARDIOLOGY</h4>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure class="figure">
                      <div class="box-hover" style="box-shadow: 0px 0px 50px forestgreen;background-color:cadetblue;"><a href="{% url 'Departments' %}"><img src="{% static 'images/DepImages/OP.jpg' %}" class="figure-img img-fluid p-5" 
                        height="500px" width="400px" style="border-radius: 60px;"></a></div>
                        <h4 style="font-size: 30px;color:green">ORTHOPAEDICS</h4>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure class="figure">
                       <div class="box-hover" style="box-shadow: 0px 0px 50px forestgreen;background-color:cadetblue;"><a href="{% url 'Departments' %}"><img src="{% static 'images/DepImages/AN.jpg' %}" class="figure-img img-fluid p-5" 
                        height="500px" width="400px" style="border-radius: 60px;"></a></div>
                        <h4 style="font-size: 30px;color:green">ANAESTHETICS</h4>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure class="figure">
                        <div class="box-hover" style="box-shadow: 0px 0px 50px forestgreen;background-color:cadetblue;"><a href="{% url 'Departments' %}"><img src="{% static 'images/DepImages/EM1.jpg' %}" class="figure-img img-fluid p-5" 
                            height="500px" width="400px" style="border-radius: 60px;"></a></div>
                        <h4 style="font-size: 30px;color:green">EMERGENCY CASES</h4>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure class="figure">
                        <div class="box-hover" style="box-shadow: 0px 0px 50px forestgreen;background-color:cadetblue;"><a href="{% url 'Departments' %}"><img src="{% static 'images/DepImages/GY.jpg' %}" class="figure-img img-fluid p-5" 
                            height="500px" width="400px" style="border-radius: 60px;"></a></div>
                        <h4 style="font-size: 30px;color:green">GYNECOLOGY</h4>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure class="figure">
                      <div class="box-hover" style="box-shadow: 0px 0px 50px forestgreen;background-color:cadetblue;"><a href="{% url 'Departments' %}"><img src="{% static 'images/DepImages/MB.jpg' %}" class="figure-img img-fluid p-5" 
                        height="500px" width="400px" style="border-radius: 60px;"></a></div>
                        <h4 style="font-size: 30px;color:green">MICROBIOLOGY</h4>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure class="figure">
                        <div class="box-hover" style="box-shadow: 0px 0px 50px forestgreen;background-color:cadetblue;"><a href="{% url 'Departments' %}"><img src="{% static 'images/DepImages/NR.jpg' %}" class="figure-img img-fluid p-5" 
                            height="500px" width="400px" style="border-radius: 60px;"></a></div>
                        <h4 style="font-size: 30px;color:green">NEUROLOGY</h4>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure class="figure">
                        <div class="box-hover" style="box-shadow: 0px 0px 48px forestgreen;background-color:cadetblue;"><a href="{% url 'Departments' %}"><img src="{% static 'images/DepImages/PR3.jpg' %}" class="figure-img img-fluid p-5" 
                            height="500px" width="400px" style="border-radius: 60px;"></a></div>
                        <h4 style="font-size: 30px;color:green">PHYSIOTHERAPY</h4>
                    </figure>
                </div>
            </div>
        </div>
     
{% endblock %}