{% extends 'HeadFoot.html' %}
{% load static %}
{% block myblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto my-5 p-5 text-center" style="box-shadow:0px 0px 10px black"> 
            <img src="{% static 'images/failed.jpg' %}" alt="" height="300" width="300">
            <br>
            <h1 class="alert alert-danger">PAYMENT FAILED</h1>
            <div class="my-3">
                <a href="{% url 'cart' %}" class="btn btn-success">Continue Shopping</a>
                <a href="{% url 'patient_dashboard' %}" class="btn btn-primary">Go to dashboard</a>

            </div>
        </div>
    </div>

</div>
{% endblock %}